*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:Green
}

title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(74, 99, 174);
    text-align: center;
    margin-top: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: blue;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: rgb(74, 99, 174);
    text-align: center;
    margin-top: 20px;
}
